* {
  padding: 0;
  margin : 0;
  border : 0;
}

*,
*:before,
*:after {
  -moz-box-sizing   : border-box;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height                  : 100%;
  width                   : 100%;
  font-size               : 100%;
  line-height             : 1;
  font-size               : 14px;
  -ms-text-size-adjust    : 100%;
  -moz-text-size-adjust   : 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.modal-open {
  overflow: hidden;
  position: fixed;
}


input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border : 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size  : inherit;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  color                  : #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  width                : 70%;
  display              : grid;
  justify-content      : center;
  grid-template-columns: repeat(auto-fill, 362px);
  grid-auto-rows       : 580px;
  grid-row-gap         : 4em;
  grid-column-gap      : 3em;
  padding-top          : 20px;
}

.grid {
  text-align        : center;
  position          : relative;
  -webkit-box-shadow: 0px 3px 27px -3px rgba(34, 60, 80, 0.4);
  -moz-box-shadow   : 0px 3px 27px -3px rgba(34, 60, 80, 0.4);
  box-shadow        : 0px 3px 27px -3px rgba(34, 60, 80, 0.4);
}

a {
  height: 100%;
  width : 100%;
}

img {
  max-height: 250px;
  max-width : 80%;
  margin    : 50px auto;

}

.grid__img {

  align-items: center;
  text-align : center;
}

.grid__price {
  text-align : center;
  font-size  : 30px;
  font-weight: 600;
  padding    : 15px 0 10px;
}

.grid__title {
  width      : 100%;
  font-size  : 17px;
  font-weight: 600;
  padding    : 0 3%;
}

.grid__button {
  width     : 100%;
  text-align: center;
  color     : #fff;
  position  : absolute;
  bottom    : 40px;
  left      : 50%;
  width     : 100%;
  transform : translate(-50%, 0px);
}

.grid__button button {
  padding         : 15px 25px;
  background-color: rgb(187, 96, 80);
  transition      : 0.3s;
  border-radius   : 15px;
  margin-top      : 15px;
  color           : #fff;
}

.grid__button button:hover {
  background-color: rgb(216, 113, 53);
}


.grid__input input {
  padding: 5px;
  border : 1px solid #000;
  margin : 12px 0 12px 10px;
  width: 45%;
  transition: 0.2s;
}

.grid__input {
  position: absolute;
  bottom  : 90px;

  left     : 50%;
  transform: translate(-50%, 0px);
  width    : 100%;
}

.catalog {
  display        : flex;
  justify-content: center;
  width          : 100%;

}

.counter {
  color       : #000;
  padding-left: 10px;
}